.avatar {
    width: 150px;
    /* margin: 0 auto; */
}

.card {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 6px solid yellowgreen;
    border-radius: 15px;
    background-color: black;
    box-shadow: 10px 10px 1px greenyellow;
    color: orange;
    padding: 20px;
    text-align: center;
}

.card:hover {
    background-color: cyan;
    transition: background-color .5s;
    box-shadow: 10px 10px 1px plum;
    /* transition: color 8s; */
    color: black;
    padding: 20px;
}